@(appsFromDB: java.util.List[java.lang.String],
        aggrResults: java.util.Map[java.lang.String, java.lang.Object],
        session: play.mvc.Http.Session, fetchedStats : com.mongodb.client.FindIterable[org.bson.Document])
@import controllers.utils.Utils;
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Chat Statistics</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <script src="@routes.Assets.at("javascripts/dygraph-combined.js")" type="text/javascript"></script>
    </head>
    <body onload="setData()">

        <!-- Left slide-left menu -->

        <div class="settingsdiv">
            <div id="updatesettingsdiv" class="settings">
                <form action="/update-settings">
                    <input type="hidden" id="timezoneOffset" name="timezoneOffset"/>
                    <table class="center"><tr class="top"><td><h1>UPDATE SETTINGS</h1></td></tr></table>
                    <hr>
                    <table id="updatetable">
                        <tr><td>Application id :</td>
                            @if(appsFromDB!=null){
                                <td><select name="appId" required="required" class="select-style" id="appId">
                                @for(app <- appsFromDB) {
                                    <option>@app</option>
                                }
                                </select></td>
                            }else{
                                <td><input name="appId" required="required" id="appId" placeholder="no apps found"/></td>
                            }
                        </tr>
                        <tr><td>
                        Time length :</td><td><input id="timeLengthValue" required="required" name="timeLengthValue" onclick="dropTextFieldValue()" placeholder="Insert an integer value here" type="number"/>
                        </td></tr>
                        <tr><td></td><td><select name="timeLength" required="required" class="select-style" id="timeLength">
                            @for(timeLength <- controllers.Application.TIME_LENGTHS) {
                                <option>@timeLength</option>
                            }
                        </select></td></tr>
                        <div class="squaredThree">
                            <tr><td>Aggregate results : </td><td id="aggrcheckbox"><input type="checkbox" name="aggregateResults" id="aggregateResults"></td></tr>
                            <label for="aggregateResults"></label>
                        </div>
                    </table>
                    <table class="center"><tr class="bottom"><td><button type="submit" class="myButton">UPDATE</button></td></tr></table>
                </form>
                <table class="center">
                @if(aggrResults != null && aggrResults.size() > 0){
                    <hr>
                    <tr class="top"><td><h1>AGGR. RESULTS</h1></td></tr>
                }
                <!-- Aggegated results -->
                </table>
                @if(aggrResults != null && aggrResults.size() > 0){
                    <hr>
                <table id="aggregateresults" class="settings">
                    @for(key <- Utils.KEYS_TO_PARSE){<tr class="@key"><td>@key @Utils.getAggrMethodsMap.get(key) : </td><td>@aggrResults.get(key).asInstanceOf[Number].longValue</td></tr>}
                </table>
                    }
            </div>
        </div>

        <!-- Everything except left side menu -->

        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger"></label>

        <div class="site-wrap">
            <div id="headerdiv">
                <table id="headertable">
        <tr>
            <td align="center">
                <span>Application Id :
                    @if(session.get("appId")!=null){
                        @session.get("appId")
                    }else{
                        -----
                }</span>
                <span>Time Length : @session.get("timeLengthValue") @session.get("timeLength") (s)</span>
                <span>Unit : @Utils.STATS_PERIOD_SEC sec.</span>
            </td>
        </tr>
                </table>
            </div>

            <!--Graph-->

            <div id="graphdiv"></div>

            <!-- graph initialization -->
            <script type="text/javascript">
                  var labelsList = [];
                  labelsList.push('@Utils.CREATED_AT_KEY');
                  @for(key <- Utils.KEYS_TO_PARSE){labelsList.push('@Utils.getLegendLabelsMap.get(key)');}

                  var requestedTimePeriod = new Date(@session.get("requestDate") - @session.get("requestedTimePeriod"));

                  var firstEntryDate = null;
                  var lastEntryDate = null;

                  @if(fetchedStats!=null){
                    @if(fetchedStats.first()!=null){
                        firstEntryDate = new Date(@fetchedStats.first().get(Utils.CREATED_AT_KEY));
                    }
                    @if(fetchedStats.first() != null && fetchedStats.last!=null){
                        lastEntryDate = new Date(@fetchedStats.last.get(Utils.CREATED_AT_KEY));
                    }
                  }

                  var currentDate = new Date();
                  var zeroEntry = [];
                  var dataset = [];

                  @for(key <- Utils.KEYS_TO_PARSE){zeroEntry.push(0);}

                  zeroEntry.unshift(requestedTimePeriod);
                  dataset.push(zeroEntry.slice());

                  if (firstEntryDate != null) {
                      zeroEntry.shift();
                      zeroEntry.unshift(firstEntryDate);
                      dataset.push(zeroEntry.slice());
                  }

                  @if(fetchedStats != null) {
                    @for(doc: org.bson.Document <- fetchedStats) {dataset.push([@for(entry: java.util.Map.Entry[String, Object] <- doc.entrySet()) {@if(entry.getKey == Utils.CREATED_AT_KEY) {new Date(@entry.getValue),}else{@entry.getValue,}}]);}
                  }

                  if (lastEntryDate != null) {
                      zeroEntry.shift();
                      zeroEntry.unshift(lastEntryDate);
                      dataset.push(zeroEntry.slice());
                  }

                  zeroEntry.shift();
                  zeroEntry.unshift(currentDate);
                  dataset.push(zeroEntry);

                  @if(session.get("appId")){
                    var appId = "@session.get("appId")";
                  }else{
                    var appId = "-----";
                  }
                  @if(session.get("timeLengthValue") != null) {
                    var timeLengthValue = '@session.get("timeLengthValue")';
                  }else{
                      var timeLengthValue = null;
                  }
                  var visibilityList = [];

                  for (i = 0; i < labelsList.length; i++) {
                    visibilityList.push(true);
                  }

                  g = new Dygraph(
                    // containing div
                    document.getElementById("graphdiv"),
                    dataset,
                    {
                        labels : labelsList,
                        title: 'Chat Statistics',
                        legend: 'always',
                        xlabel: 'Created at',
                        ylabel: 'Value',
                        visibility : visibilityList
//                        connectSeparatedPoints: true
                        //stackedGraph : true
                    }
                  );

                  //alter graph on checkbox change
                  function change(el) {
                    g.setVisibility(parseInt(el.id), el.checked);
                  }

                  //executed when graph is ready (loaded)
                  //set colors
                  g.ready(function() {
                    var plotColors = g.getColors();
                    var keysToParse = [];
                    @for(key <- Utils.KEYS_TO_PARSE){keysToParse.push('@key');
                    }

                    for (var j = 0; j < keysToParse.length; j++) {
                        var dockerElements = document.getElementsByClassName(keysToParse[j]);

                        for (var i = 0; i < dockerElements.length; i++){
                            dockerElements[i].style.color = plotColors[j];
                        }
                    }
                  });

                  //saves settings from the previous update and cleans the session
                  function setData() {
                    document.getElementById('appId').value = '@session.get("appId")'
                    @if(session.get("timeLength") == null || session.get("timeLength").length == 0) {
                        //aka: if null -> 'day'
                        document.getElementById('timeLength').value = '@controllers.Application.TIME_LENGTHS(0))'} else {
                        document.getElementById('timeLength').value = '@session.get("timeLength")'
                    }
                    document.getElementById('timeLengthValue').value = '@session.get("timeLengthValue")'
                    document.getElementById("timezoneOffset").value = new Date().getTimezoneOffset();
                    aggregateResults = '@session.get("aggregateResults")';
                    if (aggregateResults != '') {
                        document.getElementById("aggregateResults").checked = true;
                    }

                    '@session.remove("aggregateResults")'
                  }
            </script>

            <div></div>

            <!-- Bottom visibility docker -->

            <div>
                <div id="displaydiv">
                        <input type="hidden" id="timezoneOffset" name="timezoneOffset">
                        <table id="displaytable">
                            <tr>
                                <td align="center">
                                @for(i <- 0 to Utils.KEYS_TO_PARSE.length - 1){
                                    <span title="@Utils.getLegendLabelsMap.get(Utils.KEYS_TO_PARSE(i))" class="@Utils.KEYS_TO_PARSE(i)"><input type="checkbox" id="@i" checked onclick="change(this)">@Utils.getAbbreviationsMap.get(Utils.KEYS_TO_PARSE(i))</span>
                                }
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </body>
</html>
